h1{
    text-align: center;
color: black;
font-family: 'Courier New', Courier, monospace;
font-size: large;



}
body{
    background-color: black;
    background-image: url(images/f6.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    

}
li{
    color: white;





}
a:visited {
    color: white;
  }
  a {
    color: white;
  }