h1{
    text-align: center;
color: black



}
body{
    background-color: black;
    background-image: url(images/f5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    

}
li{
    color: white;





}
a:visited {
    color: white;
  }
